{:paths ["src"]
 :deps  {lilactown/helix      {:mvn/version "0.1.9"}
         metosin/malli        {:mvn/version "0.10.0"}
         thheller/shadow-cljs {:mvn/version "2.20.19"}
         binaryage/devtools   {:mvn/version "1.0.6"}}}
